@font-face {
    font-family: 'Acrom';
    src: url('Acrom-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('Acrom-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('Acrom-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('Acrom-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

